
html * {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
	font-family: "Helvetica Neue", "Helvetica Neue Regular", "Helvetica Neue",  "Droid Sans" ,"HelveticaNeueLT-Roman" , Helvetica, Arial, sans-serif;
}

body {
	font-size: 14px;
	line-height: 1.42857143;
	font-weight: 200;
	background-color: #e3e3e3;
}

body > div {
	max-width: 680px;
	margin: 0 auto;
	background-color: #ffffff;
}

